html,body,#app{
	width: 100%;
	height: 100%;
	touch-action: none;
}

body{
	background-color: #ebebeb;
}

.page{
	position: absolute;
	top: 50px;
	bottom: 0;
	width: 100%;
	left: 0;
	overflow: hidden;
}

.subpage{
	position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
}

.app-header{
	width: 100%;
	height: 50px;
	background: #282828;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
}

.app-header .title{
	flex: 1;
	font-size: 14px;
	color: #efefef;
	font-weight: 100;
	line-height: 50px;
	margin-left: 40px;
}

.app-header .icon-menu{
	display: block;
	line-height: 50px;
	padding-left: 10px;
}

.app-header a{
	text-align: center;
	display:block;
	width: 15%;
	line-height: 50px;
}

.app-header .city{
	font-size: 14px;
}

.app-header .icon-arrow-down:after{
	display: inline-block;
	transform: scale(0.6);
}

.iScrollIndicator{
	background: #ccc !important;
}


.slidebar{
	position: absolute;
	left: 0;
	top: 49px;
	right: 110px;
	background: #282828;
	height: 100%;
	border-top: 1px solid #222;
    box-shadow: 0 1px 1px #363636 inset;
    z-index: 99;
    transition: 0.5s;
}

.cover{
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	bottom:0;
	background: rgba(0,0,0,0.5);
	z-index: 99;
	transition: 0.5s;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.slidebar li{
	width: 100%;
	position: relative;	
}

.slidebar li:after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	top: -1px;
	border-bottom: 1px solid #333;
	transform: scaleY(0.5);
	
}

.slidebar li a{
	display: block;
	padding:18px 14px;
}

.slidebar li a .icon-arrow-right{
	display: inline-block;
	font-size: 12px;
	right: 0;
	float: right;
}
