#shop{
	width: 100%;
	background: #fff;
}

.swiper-pagination-bullet-active{
	background-color: #000;
}

.line{
	height: 8px;
    background: #f2f2f2;
}

#shop .shop-list{
	width: 100%;
	background: #fff;
}

#shop .shop-list .list-nav{
	display: flex;
	flex-wrap: wrap;
	padding: 24px 6px 10px 6px;
}

#shop .shop-list .list-nav li{
	width: 25%;
	margin-bottom: 20px;
}

#shop .shop-list .list-nav li .image{
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

#shop .shop-list .list-nav li .image img{
	width: 100%;
}

#shop .shop-list .list-nav li .text{
	display: block;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	margin-top: 6px;
}

.active-content{
	
}

.active-content .activity1{
	display: flex;
	padding: 10px 10px;
	background: #fff;
	
}

.active-content .activity1 .item{
	flex: 1;
	margin-right: 4px;
}

.active-content .activity1 .item img{
	width: 100%;
}


.active-content .activity2{
	padding: 10px 10px;
	background: #fff;
	position: relative;
	width: 100%;
	height: 170px;
}

.active-content .activity2 .act-title{
	text-align: center;
	font-size: 14px;
}

.active-content .activity2 .item{
	margin-right: 4px;
	position: absolute;
}

.active-content .activity2 .item .left{
	display: inline-block;	
	width: 170px;
}


.active-content .activity2 .item:nth-of-type(2){
	right: 8%;
}

.active-content .activity2 .item:nth-of-type(3){
	left: 3%;
}

.active-content .activity2 .item:nth-of-type(4){
	right: 8%;
	top: 58%;
}

.active-content .activity2 .item .left img{
	width: 100%;
}



.active-content .active-title{
	width: 100%;
}

.active-content .active-title .item{
	padding: 10px;
	background: #fff;
	margin-top: 6px;
}

.active-content .active-title .item img{
	width: 100%;
}

.active-content .active-title .item .item-m{
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
	overflow-y: hidden;
	position: relative;
}


.active-title .item .item-m .item-con{
	width: 24%;
	overflow: hidden;
	display: inline-block;
	margin-right: 20px;	
	height: 100%;
	
	
}

.active-title .item .item-m .item-con .image{
	width: 80px;
}

.active-title .item .item-m .item-con .proname{
	white-space: nowrap;
	font-size: 12px;
	margin-top: 12px;
}

.active-title .item .item-m .item-con .price{
	font-size: 12px;
	color:#ff6640;
}

.active-title .item .item-m .more{
	border: 1px solid #ddd;
	border-radius: 50%;
	color: #ddd;
	font-size: 16px;
	position: absolute;
	top: 30%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.product-main{
	background: #ebebeb;
}

.product-main .pro-title{
	text-align: center;
	font-size: 14px;
	height: 30px;
	line-height: 35px;
}

.product-main .product-con{
	margin: 0 0 0 10px;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
}


.product-main .product-con .item{
	width: 48%;
	height: 236px;
	float: left;
	background: #fff;
	margin-top: 6px;
	box-sizing: border-box;
}

.product-main .product-con .even{
	margin-right: 2.5px;
}

.product-main .product-con .item .item-main{
	height: 100%;
	position: relative;
}

.product-main .product-con .item .item-main .image{
	width: 100%;
}

.product-main .product-con .item .item-main .image img{
	width: 100%;
}

.product-con .item .item-main .proname{
	font-size: 12px;
	padding: 6px;
}

.product-con .item .item-main .pro-price{
	font-size: 12px;
	display: flex;
	position: absolute;
	bottom: 2%;
}

.product-con .item .item-main .pro-price .price{
	color: #ff5000;
	padding-left: 6px;
}

.product-con .item .item-main .pro-price .sellcount{
	margin-left: 6px;
	color: #999;
	margin-left: 15px;
}


/*商品详情页*/
#prodetails{
	
}
#prodetails .detail-content .detail-top .detail-banner .swiper-wrapper .swiper-slide{
	
}
#prodetails .detail-content .detail-top .detail-banner .swiper-wrapper .swiper-slide img{
	width: 100%;
	overflow: hidden;
	float: left;
}

.pro-con{
	background: #fff;
	box-sizing: border-box;
	padding: 10px;
}

.pro-con .name{
	font-size: 16px;
}

.pro-con .dec{
	font-size: 12px;
	color: #757575;
	margin-top: 4px;
}

.pro-con .price{
	font-size: 18px;
	color: #ff5000;
	font-weight: 600;
	margin-top: 4px;
}

.pro-con .count{
	display: flex;
	margin-top:4px;
}

.pro-con .count span{
	font-size: 12px;
	color: #757575;
	flex: 1;
}

.pro-con .count .sell{
	text-align: center;
}

.pro-con .count .guo{
	text-align: right;
}

.detail-content .select-m{
	font-size: 14px;
}
